# Week 1.2 Dataset Analysis

This notebook analyzes the Week1_GA_dataset.csv to answer additional questions involving data selection and filtering.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('Week1_GA_dataset.csv')

# Replace '?' with NaN as per instructions
df = df.replace('?', np.nan)

print(f"Dataset shape: {df.shape}")
print(f"\nColumn names:")
for i, col in enumerate(df.columns):
    print(f"Index {i}: {col}")

print(f"\nFirst few rows:")
df.head()

Dataset shape: (10000, 12)

Column names:
Index 0: Date
Index 1: Year
Index 2: Locality
Index 3: Estimated Value
Index 4: Sale Price
Index 5: Property
Index 6: Residential
Index 7: num_rooms
Index 8: num_bathrooms
Index 9: carpet_area
Index 10: property_tax_rate
Index 11: Face

First few rows:

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East

## Question 1: Even indexed rows - Value at [0, 3]

In [2]:
# Select all even indexed rows (0, 2, 4, 6, ...)
even_rows = df.iloc[::2]  # Start from 0, step by 2

print(f"Original dataset shape: {df.shape}")
print(f"Even indexed rows shape: {even_rows.shape}")

# Get value at 0th row, 3rd column in the selected dataframe
value_0_3 = even_rows.iloc[0, 3]
print(f"\nValue at [0, 3] in even indexed rows: {value_0_3}")
print(f"Column 3 name: {df.columns[3]}")

Original dataset shape: (10000, 12)
Even indexed rows shape: (5000, 12)

Value at [0, 3] in even indexed rows: 111440.0
Column 3 name: Estimated Value

## Question 2: Even indexed rows - Value at [332, 3]

In [3]:
# Get value at 332nd row, 3rd column in even indexed rows
value_332_3_even = even_rows.iloc[332, 3]
print(f"Value at [332, 3] in even indexed rows: {value_332_3_even}")
print(f"Column 3 name: {df.columns[3]}")

Value at [332, 3] in even indexed rows: 256200.0
Column 3 name: Estimated Value

## Question 3: Odd indexed rows - Value at [332, 3]

In [4]:
# Select all odd indexed rows (1, 3, 5, 7, ...)
odd_rows = df.iloc[1::2]  # Start from 1, step by 2

print(f"Odd indexed rows shape: {odd_rows.shape}")

# Get value at 332nd row, 3rd column in odd indexed rows
value_332_3_odd = odd_rows.iloc[332, 3]
print(f"Value at [332, 3] in odd indexed rows: {value_332_3_odd}")
print(f"Column 3 name: {df.columns[3]}")

Odd indexed rows shape: (5000, 12)
Value at [332, 3] in odd indexed rows: 352940.0
Column 3 name: Estimated Value

## Question 4: Odd indexed columns - Value at [100, 5]

In [5]:
# Select all odd indexed columns (1, 3, 5, 7, ...)
odd_columns = df.iloc[:, 1::2]  # All rows, odd columns starting from 1

print(f"Original columns: {list(df.columns)}")
print(f"Odd indexed columns: {list(odd_columns.columns)}")
print(f"Odd columns shape: {odd_columns.shape}")

# Get value at 100th row, 5th column in the selected dataframe
value_100_5_odd_cols = odd_columns.iloc[100, 5]
print(f"\nValue at [100, 5] in odd indexed columns: {value_100_5_odd_cols}")
print(f"Column 5 name in odd columns: {odd_columns.columns[5]}")

Original columns: ['Date', 'Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property', 'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area', 'property_tax_rate', 'Face']
Odd indexed columns: ['Year', 'Estimated Value', 'Property', 'num_rooms', 'carpet_area', 'Face']
Odd columns shape: (10000, 6)

Value at [100, 5] in odd indexed columns: West
Column 5 name in odd columns: Face

## Question 5: Even indexed columns and even indexed rows - Value at [255, 3]

In [6]:
# Select even indexed columns and even indexed rows
even_rows_even_cols = df.iloc[::2, ::2]  # Even rows, even columns

print(f"Even rows, even columns shape: {even_rows_even_cols.shape}")
print(f"Even columns: {list(even_rows_even_cols.columns)}")

# Get value at 255th row, 3rd column in the selected dataframe
value_255_3_even = even_rows_even_cols.iloc[255, 3]
print(f"\nValue at [255, 3] in even rows, even columns: {value_255_3_even}")
print(f"Column 3 name in even columns: {even_rows_even_cols.columns[3]}")

Even rows, even columns shape: (5000, 6)
Even columns: ['Date', 'Locality', 'Sale Price', 'Residential', 'num_bathrooms', 'property_tax_rate']

Value at [255, 3] in even rows, even columns: Detached House
Column 3 name in even columns: Residential

## Question 6: Number of samples in the six most recent years

In [7]:
# Find the six most recent years
unique_years = sorted(df['Year'].unique(), reverse=True)
print(f"All unique years (sorted desc): {unique_years}")

six_most_recent_years = unique_years[:6]
print(f"Six most recent years: {six_most_recent_years}")

# Count samples in these years
samples_recent_years = df[df['Year'].isin(six_most_recent_years)].shape[0]
print(f"\nNumber of samples in six most recent years: {samples_recent_years}")

# Show breakdown by year
print("\nBreakdown by year:")
for year in six_most_recent_years:
    count = (df['Year'] == year).sum()
    print(f"Year {year}: {count} samples")

All unique years (sorted desc): [np.int64(2022), np.int64(2021), np.int64(2020), np.int64(2019), np.int64(2018), np.int64(2017), np.int64(2016), np.int64(2015), np.int64(2014), np.int64(2013), np.int64(2012), np.int64(2011), np.int64(2010), np.int64(2009)]
Six most recent years: [np.int64(2022), np.int64(2021), np.int64(2020), np.int64(2019), np.int64(2018), np.int64(2017)]

Number of samples in six most recent years: 4749

Breakdown by year:
Year 2022: 789 samples
Year 2021: 929 samples
Year 2020: 724 samples
Year 2019: 800 samples
Year 2018: 641 samples
Year 2017: 866 samples

## Question 7: Samples with num_rooms = 3 AND num_bathrooms = 3

In [8]:
# Count samples with num_rooms = 3 AND num_bathrooms = 3
condition_and = (df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)
count_and = condition_and.sum()

print(f"Number of samples with num_rooms = 3 AND num_bathrooms = 3: {count_and}")

Number of samples with num_rooms = 3 AND num_bathrooms = 3: 2730

## Question 8: Samples with num_rooms = 3 OR num_bathrooms = 3

In [9]:
# Count samples with num_rooms = 3 OR num_bathrooms = 3
condition_or = (df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)
count_or = condition_or.sum()

print(f"Number of samples with num_rooms = 3 OR num_bathrooms = 3: {count_or}")

# Breakdown for verification
rooms_3 = (df['num_rooms'] == 3).sum()
bathrooms_3 = (df['num_bathrooms'] == 3).sum()
both_3 = ((df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)).sum()

print(f"\nBreakdown:")
print(f"num_rooms = 3: {rooms_3}")
print(f"num_bathrooms = 3: {bathrooms_3}")
print(f"Both = 3: {both_3}")
print(f"OR logic: {rooms_3} + {bathrooms_3} - {both_3} = {rooms_3 + bathrooms_3 - both_3}")

Number of samples with num_rooms = 3 OR num_bathrooms = 3: 8591

Breakdown:
num_rooms = 3: 8288
num_bathrooms = 3: 3033
Both = 3: 2730
OR logic: 8288 + 3033 - 2730 = 8591

## Question 9: Year 2022, Greenwich, num_rooms = 3, facing North or East

In [10]:
# Filter for Year 2022, Greenwich, num_rooms = 3, facing North or East
condition_q9 = (
    (df['Year'] == 2022) & 
    (df['Locality'] == 'Greenwich') & 
    (df['num_rooms'] == 3) & 
    (df['Face'].isin(['North', 'East']))
)

count_q9 = condition_q9.sum()
print(f"Houses in 2022, Greenwich, num_rooms=3, facing North or East: {count_q9}")

# Show the breakdown
filtered_data = df[condition_q9]
print(f"\nBreakdown by Face direction:")
print(filtered_data['Face'].value_counts())

Houses in 2022, Greenwich, num_rooms=3, facing North or East: 42

Breakdown by Face direction:
Face
East     26
North    16
Name: count, dtype: int64

## Question 10: Samples from August across all years

In [11]:
# Extract month from Date column
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month

# Count samples from August (month = 8)
august_samples = (df['Month'] == 8).sum()
print(f"Number of samples from August across all years: {august_samples}")

# Show breakdown by year
print(f"\nBreakdown by year:")
august_data = df[df['Month'] == 8]
august_by_year = august_data['Year'].value_counts().sort_index()
print(august_by_year)

Number of samples from August across all years: 1050

Breakdown by year:
Year
2009     79
2010     54
2011     54
2012     74
2013     56
2014     56
2015     64
2016     90
2017    106
2018     63
2019     81
2020     60
2021     87
2022    126
Name: count, dtype: int64

## Question 11: Locality with highest average Sale Price

In [12]:
# Calculate average Sale Price by Locality
avg_sale_price_by_locality = df.groupby('Locality')['Sale Price'].mean().sort_values(ascending=False)

print(f"Average Sale Price by Locality (sorted desc):")
for locality, avg_price in avg_sale_price_by_locality.items():
    print(f"{locality}: ${avg_price:,.2f}")

highest_avg_locality = avg_sale_price_by_locality.index[0]
highest_avg_price = avg_sale_price_by_locality.iloc[0]

print(f"\nLocality with highest average Sale Price: {highest_avg_locality}")
print(f"Average Sale Price: ${highest_avg_price:,.2f}")

Average Sale Price by Locality (sorted desc):
Greenwich: $2,270,223.54
Fairfield: $727,722.48
Stamford: $630,531.28
Norwalk: $559,095.87
West Hartford: $338,547.17
Bridgeport: $174,095.34
Waterbury: $106,215.16

Locality with highest average Sale Price: Greenwich
Average Sale Price: $2,270,223.54

## Summary of All Answers

In [13]:
print("=== WEEK 1.2 FINAL ANSWERS ===")
print(f"1. Even rows [0,3]: {even_rows.iloc[0, 3]}")
print(f"2. Even rows [332,3]: {even_rows.iloc[332, 3]}")
print(f"3. Odd rows [332,3]: {odd_rows.iloc[332, 3]}")
print(f"4. Odd columns [100,5]: {odd_columns.iloc[100, 5]}")
print(f"5. Even rows/cols [255,3]: {even_rows_even_cols.iloc[255, 3]}")
print(f"6. Six most recent years samples: {samples_recent_years}")
print(f"7. num_rooms=3 AND num_bathrooms=3: {count_and}")
print(f"8. num_rooms=3 OR num_bathrooms=3: {count_or}")
print(f"9. 2022 Greenwich 3rooms North/East: {count_q9}")
print(f"10. August samples: {august_samples}")
print(f"11. Highest avg Sale Price locality: {highest_avg_locality}")

=== WEEK 1.2 FINAL ANSWERS ===
1. Even rows [0,3]: 111440.0
2. Even rows [332,3]: 256200.0
3. Odd rows [332,3]: 352940.0
4. Odd columns [100,5]: West
5. Even rows/cols [255,3]: Detached House
6. Six most recent years samples: 4749
7. num_rooms=3 AND num_bathrooms=3: 2730
8. num_rooms=3 OR num_bathrooms=3: 8591
9. 2022 Greenwich 3rooms North/East: 42
10. August samples: 1050
11. Highest avg Sale Price locality: Greenwich